.App {
  text-align: center;
}

body {
  background: rgb(208, 124, 165);
  background: linear-gradient(
    0deg,
    rgba(208, 124, 165, 1) 15%,
    rgba(200, 235, 236, 1) 100%
  );
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.head {
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  background-color: blue;
}
.home {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.student {
  display: flex;
  justify-content: space-evenly;
}

.table-head {
  font-size: 20px;
}

.btn {
  width: 170px;
  margin-top: 20px;
  height: 50px;
  background-color: blueviolet;
  color: white;
  font-size: 16px;
}

.add {
  display: flex;
  justify-content: center;
  height: 5rem;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}
.input {
  display: flex;
  gap: 20px;
}

.btnName {
  display: flex;
  justify-content: center;
}
